span.title {color: #93c4f9}
span.series { color: #cab168}
span.special {color: red}
span.copy {font-size: 7pt; font-family: arial}
body {font-family: arial; tab-interval:.5in; color: #E4E4E4}
a:link {color: #93C4F9}
a:visited {color: #4db931}
a:hover {color: #CAB168}
a:active {color: #CAB168}
h4 {font-size: 14pt}