/* #calendarBody {
    background-color: #ffffff;
}
#calendarTitle {
    color: #000000;
}

.calendar-container {
    background-color: #ffffff;
}

button.today-button {
    background-color: #ffffff;
    color: #000000;
    border-color: #b4b4b4;
    border-radius: 3px;
    border-width: 1.5px;
    padding: 1px;
}

.navbutton {
    background-color: transparent;
}

.mv-dayname {
    color: #ffffff;
}

.mv-daynames-table {
    background-color: #000000;
    border-color: #000000;
}

.st-dtitle {
    color: #000000;
}

.st-bg {
    background-color: #ffffff;
}

.st-bg-td-last {
    background-color: #dedede;
} */