body {
	background-color: #ffffff; 
	font-family: Georgia; 
	font-size: 11pt;
	line-height: 16pt;
	margin: 0;
	padding: 0;
	text-align: center;
}

a:link, a:visited {
	color: #333399; 
	text-decoration: none;
}

a:active, a:hover {
	color:#5555bc;
	text-decoration:none;
}

h1, h2, h3, h4, h5 {line-height: 125%;}

h2 {font-size:14pt; margin-top: 30px;}

h3 {font-size:12pt;}

hr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 0;
	border-right: 0;
	height: 4px;
}

.notification {
    font-style: italic;
    color: #cc3300;
}

/* homepage styles */

#container_home {
	width: 700px;
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
}

.sIFR-active #twitter {
	visibility: hidden;
	font-family: arial narrow;
	padding: 0;
	margin: 0;
	font-size: 24pt;
}

#container_home hr {
	width: 660px;
}

	/* homepage nav */
	
	#nav_home {
		padding: 10px 0 0 0;
	}

	#nav_home ul {
		width: 675px; 
		height: 24px;
		background: url('/dev/images/nav_home.gif');
		margin: auto; 
		padding: 0;
		position: relative;
	}
	
	#nav_home ul li {
		margin: 0; 
		padding: 0; 
		list-style: none;
		position: absolute; 
		top: 0;
	}
	
	#nav_home ul li, #nav_home ul a {
		height: 24px; 
		display: block;
	}
	
	#nav_home #home {left: 0px; width: 54px;}
	#nav_home #home a:hover {background: transparent url('/dev/images/nav_home.gif') 0px -24px no-repeat;}
	
	#nav_home #calendar {left: 65px; width: 78px;}
	#nav_home #calendar a:hover {background: transparent url('/dev/images/nav_home.gif') -65px -24px no-repeat;}
	
	#nav_home #visiting {left: 159px; width: 103px;}
	#nav_home #visiting a:hover {background: transparent url('/dev/images/nav_home.gif') -159px -24px no-repeat;}
	
	#nav_home #about {left: 274px; width: 91px;}
	#nav_home #about a:hover {background: transparent url('/dev/images/nav_home.gif') -274px -24px no-repeat;}
	
	#nav_home #volunteer {left: 378px; width: 142px;}
	#nav_home #volunteer a:hover {background: transparent url('/dev/images/nav_home.gif') -378px -24px no-repeat;}
	
	#nav_home #media {left: 532px; width: 59px;}
	#nav_home #media a:hover {background: transparent url('/dev/images/nav_home.gif') -532px -24px no-repeat;}
	
	#nav_home #contact {left: 603px; width: 72px;}
	#nav_home #contact a:hover {background: transparent url('/dev/images/nav_home.gif') -603px -24px no-repeat;}

    #nav_home #donate {left: 603px; width: 72px;}
	#nav_home #donate a:hover {background: transparent url('/dev/images/nav_donate.gif') -603px -24px no-repeat;}



/* page styles */

#container {
	width: 735px;
	margin: 10px auto;
	text-align: center;
}

#header a {float: left;}

	/* page nav */
	
	#nav {
		padding: 10px 0 0 0;
		clear: both;
	}
	
	#nav ul {
		width: 732px; 
		height: 30px;
		background: url('/dev/images/nav.gif');
		margin: auto; 
		padding: 0;
		position: relative;
	}
	
	#nav ul li {
		margin: 0; 
		padding: 0; 
		list-style: none;
		position: absolute; 
		top: 0;
	}
	
	#nav ul li, #nav ul a {
		height: 30px; 
		display: block;
	}
	
	#nav #home {left: 0px; width: 58px;}
	#nav #home a:hover {background: transparent url('/dev/images/nav.gif') 0px -29px no-repeat;}
	
	#nav #calendar {left: 70px; width: 88px;}
	#nav #calendar a:hover, .calendar #nav #calendar {background: transparent url('/dev/images/nav.gif') -70px -29px no-repeat;}
	
	#nav #visiting {left: 170px; width: 114px;}
	#nav #visiting a:hover, .visiting #nav #visiting {background: transparent url('/dev/images/nav.gif') -170px -29px no-repeat;}
	
	#nav #about {left: 296px; width: 100px;}
	#nav #about a:hover, .about #nav #about {background: transparent url('/dev/images/nav.gif') -296px -29px no-repeat;}
	
	#nav #volunteer {left: 409px; width: 157px;}
	#nav #volunteer a:hover, .volunteer #nav #volunteer {background: transparent url('/dev/images/nav.gif') -409px -29px no-repeat;}
	
	#nav #media {left: 578px; width: 65px;}
	#nav #media a:hover, .media #nav #media {background: transparent url('/dev/images/nav.gif') -578px -29px no-repeat;}
	
	#nav #contact {left: 655px; width: 77px;}
	#nav #contact a:hover, .contact #nav #contact {background: transparent url('/dev/images/nav.gif') -655px -29px no-repeat;}
	
#content {
	text-align: left;
}




/* Slideshow container */
.slideshow-container {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




/* calendar page styles */

div.movie {padding: 0 5px; margin: auto -5px;}

div.showings-length {margin: 15px auto 0px auto;}

div.title {margin: auto 30px; font-weight: bold;}

div.desc {margin: auto 30px;}
	span.dir-date {font-style: italic;}
	span.format {font-style: italic;}
	
.special {background-color: #f1f1f1;}


/* show/hide styles */

.more {display: none;}
    
a.showLink, a.hideLink {}

a.hideLink {}

a.showLink:hover, a.hideLink:hover {}



